*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-shadow: 2px 2px 10px rgb(103, 119, 222);
}
html{
    font-size: 62.5%;
}
img{
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#000 20%, #10132B 100%);
}
.container{
    margin-top: 5px;
    margin-bottom: 30px;

}

.navbar{
    width: 100%;
    height: 50px;
    background: #1A143E;
    display: flex;
    justify-content: end;
    align-items: center !important;
}
#logo{
    position: absolute;
    left: 0;
    margin-left: 5px;

    display: flex;
    align-items: center;


    width: 60px;
}
.navbar ul{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
    width: 300px;
}

.navbar li{
    list-style: none;
    color: inherit;
    margin-left: 25px;
    font-size: 1.5rem;
}

.navbar li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main{
    width: 100%;
    height: 80%;
}

.rodape {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    color: #fff;
    background: #1A143E;
}

.btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #027FE9;
}

#btn1 a {
    width: 90px;
    height: 25px;
    border-radius: 5px;
}

#btn2 a{
    width: 150px;
    height: 25px;
    border-radius: 5px;
}

